-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateEnum
CREATE TYPE "Role" AS ENUM ('SUPER_ADMIN', 'ADMIN', 'MANAGER', 'SELLER', 'VIEWER');

-- CreateEnum
CREATE TYPE "UserStatus" AS ENUM ('PENDING', 'ACTIVE', 'BLOCKED');

-- CreateTable
CREATE TABLE "User" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "phone" TEXT NOT NULL,
    "password" TEXT NOT NULL,
    "role" "Role" NOT NULL DEFAULT 'VIEWER',
    "status" "UserStatus" NOT NULL DEFAULT 'PENDING',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "User_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Kategoriya" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "slug" TEXT NOT NULL,
    "icon" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Kategoriya_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Mahsulot" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "model" TEXT,
    "brend" TEXT,
    "birlik" TEXT NOT NULL DEFAULT 'dona',
    "priceUsd" DOUBLE PRECISION NOT NULL,
    "image" TEXT,
    "description" TEXT,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "categoryId" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "kgPerMetr" DOUBLE PRECISION DEFAULT 0,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Mahsulot_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Komplekt" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "modelCode" TEXT NOT NULL,
    "image" TEXT,
    "description" TEXT,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Komplekt_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "KomplektItem" (
    "id" TEXT NOT NULL,
    "komplektId" TEXT NOT NULL,
    "mahsulotId" TEXT NOT NULL,
    "miqdor" INTEGER NOT NULL DEFAULT 1,

    CONSTRAINT "KomplektItem_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "KalkulyatorSession" (
    "id" TEXT NOT NULL,
    "mijozIsm" TEXT NOT NULL,
    "mijozTel" TEXT NOT NULL,
    "sotuvchiId" TEXT NOT NULL,
    "jami" DOUBLE PRECISION NOT NULL,
    "yuborildi" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "KalkulyatorSession_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "KalkulyatorItem" (
    "id" TEXT NOT NULL,
    "sessionId" TEXT NOT NULL,
    "mahsulotId" TEXT NOT NULL,
    "miqdor" INTEGER NOT NULL DEFAULT 1,
    "narxUsd" DOUBLE PRECISION NOT NULL,

    CONSTRAINT "KalkulyatorItem_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Product" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "category" TEXT NOT NULL,
    "tur" TEXT NOT NULL DEFAULT 'oddiy',
    "birlik" TEXT NOT NULL DEFAULT 'dona',
    "kgPerMetr" DOUBLE PRECISION DEFAULT 0,
    "image" TEXT NOT NULL,
    "images" JSONB NOT NULL,
    "priceUsd" DOUBLE PRECISION NOT NULL,
    "priceUzs" DOUBLE PRECISION NOT NULL,
    "shortDesc" TEXT NOT NULL,
    "fullDesc" TEXT NOT NULL,
    "rating" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Product_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "User_phone_key" ON "User"("phone");

-- CreateIndex
CREATE UNIQUE INDEX "Kategoriya_slug_key" ON "Kategoriya"("slug");

-- AddForeignKey
ALTER TABLE "Mahsulot" ADD CONSTRAINT "Mahsulot_categoryId_fkey" FOREIGN KEY ("categoryId") REFERENCES "Kategoriya"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "KomplektItem" ADD CONSTRAINT "KomplektItem_komplektId_fkey" FOREIGN KEY ("komplektId") REFERENCES "Komplekt"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "KomplektItem" ADD CONSTRAINT "KomplektItem_mahsulotId_fkey" FOREIGN KEY ("mahsulotId") REFERENCES "Mahsulot"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "KalkulyatorSession" ADD CONSTRAINT "KalkulyatorSession_sotuvchiId_fkey" FOREIGN KEY ("sotuvchiId") REFERENCES "User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "KalkulyatorItem" ADD CONSTRAINT "KalkulyatorItem_sessionId_fkey" FOREIGN KEY ("sessionId") REFERENCES "KalkulyatorSession"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "KalkulyatorItem" ADD CONSTRAINT "KalkulyatorItem_mahsulotId_fkey" FOREIGN KEY ("mahsulotId") REFERENCES "Mahsulot"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

